<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f8e0159d-68a5-4ea4-bce0-36c112460deb/resourceGroups/RWVPSecurityGroup/providers/Microsoft.Web/sites/ROWVehiclePoolMVC</ResourceId>
    <ResourceGroup>RWVPSecurityGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rowvehiclepoolmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9fdb839a-e4a5-41d1-b7f7-b02b653018e1</ProjectGuid>
    <PublishUrl>https://rowvehiclepoolmvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ROWVehiclePoolMVC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>